.user-certifications-detail-competence {
  
  @mixin leftElement {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @mixin rightElement {
    right: 0;
    min-width: 90px;
    text-align: center;
    padding-right: 36px;
  }

  &__title {
    @include leftElement;
    color: rgb(241, 161, 65); // todo
    font-family: $font-roboto;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-left: 16px;
    line-height: 1rem;
    
    &--level {
      @include rightElement;
      color: $grey-35;
    }
  }

  &__competence {
    @include leftElement;
    color: $grey-80;
    font-family: $font-open-sans;
    font-size: 1rem;
    padding: 20px 0 20px 36px;
    margin: 0;

    &--level {
      @include rightElement;
      color: rgb(241, 161, 65); // todo
      font-weight: bold;
      font-size: 1.5rem;
    }

    &::before {
      position: absolute;
      content: "";
      left: 16px;
      width: 3px;
      height: calc(100% - 20px);
      background-color: orange; // todo
      border-radius: 1.5px;
    }

    &--disabled {
      opacity: 0.4;
  
      span {
        display: none;
      }
    }
  }

  > * {
    border-bottom: 1.5px $grey-10 solid;
    min-height: 60px;
  }
  > :last-child {
    border: none;
  }
}

@include device-is('mobile') {
  .user-certifications-detail-competence {
    &__title {
      font-size: 0.875rem;
      font-weight: $font-normal;

      &--level {
        padding-right: 0px;
      }
    }

    &__competence {

      &--level {
        padding-right: 0px;
      }

      &--disabled {
        span {
          display: block;
          opacity: 0;
        }
      }
    }
  }
}
